.whole-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  filter: blur(3px);
}

.inventory-btn {
  color: rgba(211, 211, 211, 0.779);
}

.checkout-btn:hover,
.report-btn:hover {
  background-color: rgba(255, 255, 255, .5);
}

.add-item-main-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 3rem 1rem 4.5rem;
}

.return-icon {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.page-title {
  font-weight: bold;
  margin-top: .5rem;
  font-size: 1.5rem;
}

.add-item-form {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}

.first-column {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.second-column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.item-detail {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.item-detail > * {
  padding: .5rem 0;
}

.item-detail input {
  margin-left: .5rem;
  padding: .5rem;
  background-color: white;
  border: 1px solid grey;
  border-radius: .2rem;
  font-size: .8rem;
  width: 18rem;
}

.first-column > *,
.second-column > *{
  margin: .3rem 0;
}

.second-column-error-box {
  display: none;
  margin: 0 0 0 13rem;
  color: red;
  font-size: .8rem;
}

.item-quantity,
.item-supplier-name,
.item-supplier-location{
  display: flex;
  align-items: center;
}

.item-unit {
  margin-left: .8rem;
}

.unit-box {
  margin-left: .1rem;
}

.item-supplier-name-textarea,
.item-supplier-location-textarea{
  resize: none;
  padding: .5rem;
  width: 18rem;
  height: 4.9rem;
}

.item-supplier-name-textarea {
  margin-left: .8rem;
}

.item-supplier-location-textarea {
  margin-left: .8rem;
} 

.category-colon {
  margin-left: 2.5rem;
}

.item-category select,
.item-unit select{
  margin-left: .4rem;
  border-radius: .2rem;
  padding: .5rem .3rem;
  border: 1px solid grey;
  font-size: .8rem;
} 

.item-category select {
  width: 18rem; 
}

.item-unit select{
  width: 10rem;
}

.cost-colon {
  margin-left: 2.2rem;
}

.price-colon {
  margin-left: 2rem;
}

.barcode-colon {
  margin-left: 2.7rem;
}

.product-barcode::-webkit-outer-spin-button,
.product-barcode::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

.quantity-colon {
  margin-left: 7.1rem;
}

#quantity {
  margin-left: .7rem;
}

.notification-box {
  display: flex;
  align-items: center;
  margin: .1rem 0;
}

.notification-colon {
  margin-left: 1.4rem;
}

.notification-box .notification {
  margin-left: .7rem;
}

.supplier-name-colon {
  margin-left: 4.3rem;
}

.supplier-location-colon {
  margin-left: 3.1rem;
}

.supplier-name {
  margin-left: .8rem;
  padding: .5rem .3rem;
  background-color: white;
  border: 1px solid grey;
  border-radius: .2rem;
  font-size: .8rem;
  width: 18rem;
}

.error-box {
  display: none;
  margin: 0 0 0 8.5rem;
  color: red;
  font-size: .8rem;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-self: flex-end;
}

.btn {
  font-weight: bold;
  border: none;
  border-radius: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.clear-btn {
  background-color: red;
  color: white;
  padding: .2rem 1rem;
}

.save-btn {
  background-color: #F65446;
  width: 12rem;
  height: 3rem;
}

.save-btn a {
  text-decoration: none;
  color: white;
}

.btn:hover {
  opacity: .5;
}

.save-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.added-item-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: white;

  z-index: 100;
  transform: translate(-50%, -50%) scale(0.1);
  visibility: hidden;
  transition: transform 0.2s;
  border: .1rem solid black;
  overflow: hidden;
  padding: 1rem;
}

.verified-image {
  width: 3rem;
  height: 3rem;
  margin-bottom: 1.5rem;
}

.added-item-message {
  font-size: .8rem;
}

.done-btn {
  margin-top: 1rem;
  padding: .2rem 2rem;
  border: none;
  background-color: #D81919;
  color: white;
  border-radius: 1rem;
  cursor: pointer;
}

.done-btn:hover {
  opacity: .7;
}

.open-popup {
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}