.checkout-btn {
  color:rgba(211, 211, 211, 0.779);
}

.inventory-btn:hover,
.report-btn:hover {
  background-color: rgba(255, 255, 255, .5);
}

/* Main Content */

.search-item-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 1rem 0;
  position: relative;
}

#search-bar {
  background-image: url('https://cdn-icons-png.flaticon.com/512/54/54481.png');
  background-size: 1rem;
  background-position: left;
  background-position-x: .5rem;
  background-repeat: no-repeat;

  padding: .5rem 2rem;
  border: 1px solid grey;
  border-radius: 1rem;
  margin-left: 3rem;
  margin-right: .5rem;
  width: 25rem;
}

.barcode-scan-icon {
  width: 2.3rem;
  height: 2.3rem;
  cursor: pointer;
}

.checkout-main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 40rem;
}

.checkout-text {
  font-size: 1.5rem;
}

.suggested-product-box {
  position: absolute;
  border: 1px solid black;
  left: 10rem;
  top: 3rem;
  text-indent: .5rem;
  width: 26rem;
  background-color: white;
  max-height: 8rem;
  overflow: auto;
  border-radius: .5rem;
  border: none;
  box-shadow: .1rem .1rem .1rem rgba(0, 0, 0, .3),
    -0.1rem .1rem .1rem rgba(0, 0, 0, .3);
}

.suggested-product {
  font-size: 1rem;
  cursor: pointer;
  padding: .2rem 0;
}

.suggested-product:hover {
  background-color: #c9c9c9;
}

.product-detail {
  border-bottom: 1px solid #A8A8A8;
  background-color: white;
}

.category-box {
  margin-left: 1rem;
  margin-right: 1rem;
  padding: .1rem .5rem;
  font-size: .9rem;
  width: 9rem;
}

.title-row, .product-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title-row {
  background-color: #A8A8A8;
  text-align: center;
  height: 2.5rem;
}

.no-title, .product-no {
  width: 3rem;
}

.title-row .name-title,
.product-row .product-name-row{
  text-align: left;
  flex: 1;
  margin-left: 1rem;
}

.product-info {
  max-height: 12.5rem;
  overflow: auto;
}

.product-row > * {
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.product-no,
.product-price,
.product-total {
  background-color: #cecdcd;
  text-align: center;
}

.product-name-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.remove-icon {
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
  margin-right: 1.5rem;
}

.price-title,
.product-price,
.total-title,
.product-total {
  width: 12rem;
}

.quantity-title,
.adjust-quantity {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 10rem;
}

.quantity {
  font-size: 1rem;
  width: 2rem;
  text-align: center;
  border: none;
}

.quantity::-webkit-outer-spin-button, .quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.icon {
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
  margin: 0 1rem;
}

/* Purchase section */

.purchase-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.purchase-form label {
  font-size: 1.2rem;
  font-weight: bold;
}

.purchase-form .total-row, .payment-row, .change-row{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: .5rem 0;
}

.purchase-box input,
.total-price,
.change{
  text-indent: 3rem;
  width: 12rem;
  margin-left: .5rem;
  font-size: 1.2rem;
  padding: 0 .5rem;
  background-color: #E1E1E1;
  border: none;
  box-shadow: .1rem .1rem .2rem rgba(0, 0, 0, .7);
}

.purchase-btn {
  padding: .5rem 7rem;
  border: none;
  border-radius: 2rem;
  background-color: #F65446;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 1rem;
  cursor: pointer;
}

.purchase-btn:hover {
  opacity: .7;
}

.remove-product-pop-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: white;

  transform: translate(-50%, -50%) scale(0.1);
  visibility: hidden;
  transition: transform 0.2s;
  border: 1px solid black;
  border-radius: 1rem;
  overflow: hidden;
  padding: 0 0 1rem 0;
}

.remove-product-upper-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  background-color: rgb(228, 227, 227);
}

.remove-product-danger-img {
  width: 3rem;
  height: 3rem;
  margin-top: .5rem;
  margin-left: 1rem;
}

.remove-product-upper-row p {
  color: red;
  font-weight: bold;
  margin-right: 1.2rem;
}

.remove-product-cancel-img {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  margin-right: .4rem;
}

.remove-product-cancel-img:hover {
  opacity: .5;
}

.remove-product-message-row {
  margin: 3rem 2rem;
}

.remove-product-message-row p {
  font-size: 1rem;
  font-weight: bold;
}

.remove-product-btn-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: c;
}

.remove-product-btn-row button {
  width: 5rem;
  height: 2rem;
  border: none;
  background-color: #FF0000;
}

.remove-product-btn-row button:hover {
  opacity: .5;
}

.remove-product-no-btn, .remove-product-yes-btn{
  cursor: pointer;
  padding: .8rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.successful-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: white;

  z-index: 100;
  transform: translate(-50%, -50%) scale(0.1);
  visibility: hidden;
  transition: transform 0.2s;
  border: .1rem solid black;
  overflow: hidden;
  padding: 1rem;
}

.verified-image {
  width: 3rem;
  height: 3rem;
  margin-bottom: 1.5rem;
}

.success-message {
  margin-top: .5rem;
  font-size: .8rem;
}

.done-btn {
  margin-top: 1rem;
  padding: .2rem 2rem;
  border: none;
  background-color: #D81919;
  color: white;
  border-radius: 1rem;
  cursor: pointer;
}

.done-btn:hover {
  opacity: .7;
}

.open-popup {
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}