.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: row;
  align-items: center;

  height: 2.5rem;
  background-color: #231A2B;
  z-index: 100;
}

.left-section {
  flex: 3;  
  margin-left: .5rem;
  margin-bottom: .1rem;
}

.left-section h1 {
  font-size: 2.5rem;
  color: #EB2828;
  font-weight: bold;
  -webkit-text-stroke: .05rem black;
}

.middle-section {
  display: flex;
  flex-direction: row;
  flex: 2;
  height: 100%;
  align-items: center;
}

.middle-section button{
  height: 100%;
  flex: 1;
  font-size: 1rem;
  background-color: transparent;
  border: none;
}

.middle-section a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.right-section {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  margin-right: .5rem;
}

.user-box {
  display: flex;
  flex-direction: row;
}

.user-img {
  height: 1.4rem;
  width: 1.4rem;
  margin-right: .4rem;
}

.user-id {
  color: white;
  text-decoration: underline;
  font-size: .8rem;
  align-self: center;
}

.logout-img {
  width: 1.2rem;
  height: 1.2rem;
  margin-left: .7rem;
  cursor: pointer;
}

.logout-pop-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: white;

  transform: translate(-50%, -50%) scale(0.1);
  visibility: hidden;
  transition: transform 0.2s;
  border: 1px solid black;
  border-radius: 1rem;
  overflow: hidden;
  padding: 0 0 1rem 0;
}

.logout-upper-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  background-color: rgb(228, 227, 227);
}

.logout-danger-img {
  width: 3rem;
  height: 3rem;
  margin-top: .5rem;
  margin-left: 1rem;
}

.logout-upper-row p {
  color: red;
  font-weight: bold;
  margin-right: 1.2rem;
}

.logout-cancel-img{
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  margin-right: .4rem;
}

.logout-cancel-img:hover {
  opacity: .5;
}

.logout-message-row {
  margin: 3rem 2rem;
}

.logout-message-row p {
  font-size: 1rem;
  font-weight: bold;
}

.logout-btn-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: c;
}

.logout-btn-row button {
  width: 5rem;
  height: 2rem;
  border: none;
  background-color: #FF0000;
}

.logout-btn-row button:hover {
  opacity: .5;
}

.logout-yes-link {
  width: 100%;
  height: 100%;
  padding: .8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
}

.logout-no-btn {
  cursor: pointer;
  padding: .8rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.open-popup {
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}