*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;

  margin: 0;
  padding: 0;
  background-color: #eeeef4;

  display: flex;
  align-items: center;
  justify-content: center;
}

.whole-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30rem;
  width: 30rem;
  padding: 0 2rem;
}

.shop-name {
  color: #EB2828;
  -webkit-text-stroke: .05rem black;
  font-weight: bold;
  text-shadow: 2px 2px 3px black;
  font-size: 2.5rem;
}

.form-container {
  flex: 1;
  display: flex;
  flex-direction: column;

  width: 100%;
  border: .1rem solid rgba(150, 150, 150, .5);
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: 1px 1.2px 1px lightgrey, -1px 1.2px 1px lightgrey;
  background-color: white;
}

.title-row {
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.title-row button {
  flex: 1;
  background-color: white;
}

.register {
  outline: 0.1rem solid rgba(150, 150, 150, .5);
  border: none;
}

.register a {
  text-decoration: none;
  color: rgb(150, 150, 150);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.register a:hover {
  color: rgb(53, 52, 52);
  background-color: rgb(248, 248, 248);
  
}

.login{
  color: #D81919;
  border: none;
  margin: 0 .5rem;
  padding: 1rem 0;
  border-bottom: 0.15rem solid #D81919;
}

.info-section {
  padding: 0 .8rem;
}

.id-box{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.password-box {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.id-box input, .password-box input {
  padding: 1rem;
  border: 1px solid rgb(150, 150, 150);
  border-radius: .2rem;
}

.id-box label, .password-box label {
  font-size: .8rem;
  margin-bottom: .3rem;
}

.view-password-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: .5rem;
}

.view-password-btn {
  width: 1rem;
  height: 1rem;
  border: 0.1rem solid rgb(150, 150, 150);
  border-radius: .2rem;
  margin-right: .5rem;
}

.view-password-text {
  font-size: .8rem;
}

.login-btn {
  font-size: 1rem;
  color: white;
  background-color: rgba(221, 63, 28, 0.804);
  width: 100%;
  padding: 1rem;
  border: .1rem solid black;
  box-shadow: 0 .2rem .1rem rgba(0, 0, 0, .2);
  border-radius: .3rem;
  margin-top: 2.5rem;
  margin-bottom: .5rem;
  cursor: pointer;
}

.login-btn:hover {
  opacity: .7;
}

.forget-password-text {
  font-size: .8rem;
  color: red;
  cursor: pointer;
}