*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #eeeef4;
  height: 100%;

  display: flex;
  flex: row;
  justify-content: center;
}

h1,
p {
  margin: 0;
}

.receipt-container {
  background-color: white;
  border: 1px solid black;
  padding: .5rem 1rem 1rem;
  min-width: 30rem;
  /* min-height: 35rem; */
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.heading-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.return-icon {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;

  margin-right: 9.2rem;
}

.receipt-title {
  font-size: 1.6rem;
}

.receipt-info {
  text-align: center;
  margin-top: .5rem;
  font-weight: bold;
}

.receipt-detail {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 1rem;
}

.title-row, .product-row{
  display: flex;
  flex-direction: row;
}

.title-row > * {
  font-weight: bold;
}

.no-title,
.quantity-title,
.price-title{
  text-align: center;
}

.product-no,
.product-quantity,
.product-price {
  text-align: center;
}

.no-title,
.product-no {
  width: 2.5rem;
}

.name-title,
.product-name {
  flex: 1;
  padding: 0 .2rem;
  max-width: 14rem;
}

.product-name {
  word-wrap: break-word;
}

.quantity-title,
.product-quantity,
.price-title,
.product-price{
  width: 6rem;
}

.breaking-line {
  margin-top: 1rem;
}

.purchase-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: .5rem;
}

.purchase-section > * {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: .2rem 0;
}

.total,
.total-price{
  font-weight: bold;
  font-size: 1.2rem;
}

.total-row,
.payment-row,
.change-row { 
  justify-content: flex-end;
}

.total-price,
.total-payment,
.total-change {
  width: 7rem;
  text-align: right;
  margin-right: 1rem;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.button-row button {
  padding: 0.6rem 0;
  border-radius: .5rem;
  border: none;
  background-color: #5d5858;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  width: 10rem;
}

.button-row button:hover {
  opacity: .7;
}