*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;  
  margin: 0;
  padding: 0;
  background-color: #eeeef4;
}

.whole-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.active {
  filter: blur(3px);
}

.main-content-container {
  width: 20rem;
  border: 1px solid black;
  padding: 2rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.return-icon {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  margin-right: 1rem;
  position: absolute;
  top: .5rem;
  left: .5rem;
}

.heading {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.message {
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

.phone-number-input {
  padding: .5rem 1rem;
  width: 100%;
}

.confirm-btn {
  margin-top: 1.5rem;
  align-self: center;
  transition: opacity .2s;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background-color: rgba(221, 63, 28, 0.804);
  border: none;
  border-radius: .5rem;
  padding: .5rem 1.5rem;
  cursor: pointer;
}

.confirm-btn:hover {
  opacity: .7;
}

.phone-number-error-box {
  margin: .2rem;
  color: red;
  font-size: .8rem;
  margin-left: .5rem;
  display: none;
}

.successful-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: white;

  z-index: 100;
  transform: translate(-50%, -50%) scale(0.1);
  visibility: hidden;
  transition: transform 0.2s;
  border: .1rem solid black;
  overflow: hidden;
  padding: 1rem;
}

.success-message {
  margin-top: 2rem;
  font-size: 1.5rem;
}

.done-btn {
  font-size: 1.5rem;
  margin-top: 1rem;
  padding: .5rem 2rem;
  border: none;
  background-color: #D81919;
  color: white;
  border-radius: 1rem;
  cursor: pointer;
}

.done-btn:hover {
  opacity: .7;
}

.open-popup {
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}