.inventory-btn {
  color: rgba(211, 211, 211, 0.779);
}

.checkout-btn:hover,
.report-btn:hover {
  background-color: rgba(255, 255, 255, .5);
}

.whole-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.return-row {
  margin-top: 3rem;
  width: 100%;
}

.return-icon {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.restock-main-content {
  margin-top: .5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
}

.main-content-box {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.first-column {
  width: 40%;
}

.second-column {
  width: 60%;
}

.first-column div{
  display: flex;
  margin-top: 1rem;
}

.first-column input,
.supplier-name,
.supplier-location{
  width: 20rem;
  padding: .1rem .3rem;
  margin-left: .2rem;
}

.supplier-location {
  resize: none;
  height: 4.1rem;
}

/* Colon */

.supplier-name-colon {
  margin-left: 3.4rem;
}

.supplier-location-colon {
  margin-left: 3.2rem;
}

.invoice-no-colon {
  margin-left: 2.2rem;
}

.restock-fee-colon {
  margin-left: 1.5rem;
}

.placed-date-colon {
  margin-left: 1.6rem;
}

.received-date-colon {
  margin-left: .4rem;
}

/* End */

.button-box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  bottom: 4.5rem;
  position: absolute;
}

.button-box button {
  font-weight: bold;
  border: none;
  border-radius: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  color: white;
}

.clear-all-btn {
  background-color: red;
  padding: .2rem 1rem;
}

.confirm-and-save-btn {
  background-color: #F65446;
  width: 12rem;
  height: 3rem;
}

.second-column {
  display: flex;
  flex-direction: column;
}

.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.restock-history-row {
  display: flex;
  align-items: center;
}

.history-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: .2rem;
}

.restock-history {
  cursor: pointer;
  color: blue;
  margin-right: 2rem;
  text-decoration: underline;
  text-decoration-color: blue;
  text-underline-offset: .4rem;
}

.search-row {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

#search-bar {
  background-image: url('https://cdn-icons-png.flaticon.com/512/54/54481.png');
  background-size: 1rem;
  background-position: left;
  background-position-x: .5rem;
  background-repeat: no-repeat;

  padding: .2rem 2rem;
  border: 1px solid grey;
  border-radius: 1rem;
  width: 20rem;
  margin-right: 1rem;
}

.content-container {
  height: 15rem;
  overflow: auto;
}

.title-row,
.content-row {
  display: flex;
  flex-direction: row;
}

.title-row {
  margin-top: 1rem;
  background-color: #A8A8A8;
  font-weight: bold;
}

.content-row {
  height: 2rem;
  background-color: white;
}

.content-row > * {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.product-no-title,
.product-no {
  width: 2rem;
  text-align: center;
}

.product-name-title,
.product-name {
  justify-content: flex-start;
  flex: 1;
  text-indent: .5rem  ;
}

.product-quantity-title,
.product-quantity-row {
  width: 6rem;
  text-align: center;
}

.product-quantity-row {
  display: flex;
  justify-content: space-evenly;
  border-right: .1rem solid #A8A8A8;
  border-left: .1rem solid #A8A8A8;
}

.product-quantity {
  width: 2rem;
  text-align: center;
  border: none;
}

.product-quantity::-webkit-outer-spin-button,
.product-quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.product-price-title,
.product-price {
  width: 7rem;
  text-align: center;
}

.icon {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.product-no {
  background-color:rgb(206, 205, 205);
}